.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #bebebe;
}
 